.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: slategray;
    
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.3rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}